fastapi
celery
redis
pydantic
oauth2client
google-auth-oauthlib
google-auth
google-api-python-client
uvicorn
gunicorn
yt-dlp
pytrends
requests
opencv-python-headless
ffmpeg-python
openai
python-dotenv
opencv-contrib-python
openai-whisper
moviepy
pyDrive
azure-functions


